/* universal font family and styles */
/* all except ul and li */
*:not(ul, li){
	font-family: "Bookman Old Style", Georgia, serif;
	color: black;
}

body, html {
  height: 100%;
  background-size: cover;
  margin: 0 auto;
  overflow-x: hidden;
}

.headings {
  text-decoration: underline;
}

h3 {
  text-decoration: underline;
}

/* hint information italics */
small {
  font-style: italic;
}

/* style for clue information */
li, ol {
  text-align: left;
  font-family:"Bookman Old Style", Georgia, serif;
  color: black;
}

#failed-tag {
  color: red;
}

table, th, td {
  border: 3px solid whitesmoke;
  border-collapse: collapse;
}

#guess-input {
  width: 175px;
}

/* 
*  Sticky Nav Bar Credited to : https://www.w3schools.com/howto/howto_js_navbar_sticky.asp
*/
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #bababa;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* white icons */
.white {
  color: white;
}

.active {
  background-color: rgb(182, 122, 122);
  color: white;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

  /* end of w3schools code */

/* Credit and Source to GetBootstrap: https://getbootstrap.com/docs/4.6/examples/album/" */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.heading-style {
  font-weight: bold;
  font-style: italic;
}

.navbar {
    overflow: hidden;
  }

  /* Navbar links */
  .navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  /* Page content */
  .content {
    padding: 16px;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  /* end of w3schools code */

/* Credit and Source to GetBootstrap: https://getbootstrap.com/docs/4.6/examples/album/" */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.heading-style {
  font-weight: bold;
  font-style: italic;
}

/* -- custom bootstrap styling -- */

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


/* -------------------------get bootstrap album CSS code-------------------------------- */
/* --------- Credit: https://getbootstrap.com/docs/4.6/examples/product/ ----------------*/
.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.overflow-hidden { 
  overflow: hidden; 
}