/* universal font family and styles */
p, h2, h3, .img-text, button {
	font-family:'Times New Roman', Times, serif;
	color:rgb(194, 191, 191);
} 

/* style for clue information */
li, ol {
  font-style: italic;
  text-align: left;
  font-family:'Times New Roman', Times, serif;
  	color:rgb(194, 191, 191);
}

/* style nav bar so can tell which page is active */
/* fix */
.active {
  border:1px whitesmoke;
  border-style: dotted;
}



/* Colours for timer countdown */ 
  .red-countdown {
    color:red;
  }

  .yellow-countdown {
    color:yellow;
  }

  .green-countdown {
    color:greenyellow;
  }











  /* source: https://codepen.io/ishanbakshi/pen/pgzNMv */
  body{
    background-color:#2D3047;
  }
  
  div{
    background-color:#0b1919;
    color:#EFD0CA;
    font-size:20px;
    text-align:center;
  }