/* universal font family and styles */
* {
	font-family: "Bookman Old Style", Georgia, serif;
	color: black;
}

body, html {
  background-color: #d9d5d4;
  height: 100%;
  background-size: cover;
  margin: 0 auto;
  overflow-x: hidden;
}

.headings {
  text-decoration: underline;
}

h3 {
  text-decoration: underline;
}

/* hint information italics */
small {
  font-style: italic;
}

/* style for clue information */
li, ol {
  font-style: italic;
  text-align: left;
  font-family:"Bookman Old Style", Georgia, serif;
  	color:rgb(194, 191, 191);
}

  #story-wrapper {
    display: none;
  }

  table, th, td {
    border: 3px solid whitesmoke;
    border-collapse: collapse;
  }

/* style nav bar so can tell which page is active */
/* fix */
.active {
  border:1px whitesmoke;
  border-style: dotted;
}

/* navbar */
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* My original navbar would break at certain pixel widths on small devices such as phones and tablets
*  therefore, I have used media queries to hide the larger pixel width devices (i.e. laptops) as hidden,
*  when a certain pixel width is reached and vice versa.
*/
.mobile-nav-bar{
  display: none;
}
.laptop-nav-bar{
  display: inline;
}
@media only screen 
  and (max-device-width : 667px) 
  and (orientation : portrait) 
  and (-webkit-min-device-pixel-ratio : 2)
{
  .mobile-nav-bar{
    display: inline;
  }

  .laptop-nav-bar{
    display: none;
  }

  /* Show aqua underline for mobile nav bar to show which page you are on */
    #show-page > small  {
    text-decoration-line: underline;
    text-decoration-color: aqua;
  }
}


/* ----- getBootstrap - blog CSS - Source: https://getbootstrap.com/docs/4.0/examples/blog ---- */
/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

/* https://www.w3schools.com/howto/howto_js_navbar_sticky.asp   */
/* Style the navbar */
.navbar {
    overflow: hidden;
  }

  /* Navbar links */
  .navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  /* Page content */
  .content {
    padding: 16px;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  /* end of w3schools code */

/* Credit and Source to GetBootstrap: https://getbootstrap.com/docs/4.6/examples/album/" */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Adding a border to all image tags, except the nav logo using :not css selector */
img:not(.weblogo) {
  border: 2px solid rgb(194, 191, 191);
}

.heading-style {
font-weight: bold;
font-style: italic;
}

.navbar {
    overflow: hidden;
  }

  /* Navbar links */
  .navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  /* Page content */
  .content {
    padding: 16px;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  /* end of w3schools code */

/* Credit and Source to GetBootstrap: https://getbootstrap.com/docs/4.6/examples/album/" */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.heading-style {
font-weight: bold;
font-style: italic;
}

li, ol {
  font-style: italic;
  text-align: left;
  font-family:'Times New Roman', Times, serif;
  color:rgb(194, 191, 191);
}



.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* -------------------------get bootstrap album CSS code-------------------------------- */
/* --------- Credit: https://getbootstrap.com/docs/4.6/examples/product/ ----------------*/
.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.overflow-hidden { 
  overflow: hidden; 
}